    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/uikit/css/uikit.css"/>
    <link rel="stylesheet" href="/static/uikit/css/uikit.docs.min.css"/>
    <link rel="stylesheet" href="/static/uikit/css/components/accordion.css"/>
    <link rel="stylesheet" href="/static/uikit/css/components/tooltip.css"/>
    <script src="/static/uikit/js/jquery-1.8.3.min.js"></script>
    <script src="/static/uikit/js/uikit.min.js"></script>
    <script src="/static/uikit/js/components/accordion.js"></script>
    <script src="/static/uikit/js/components/pagination.js"></script>
    <script src="/static/uikit/js/components/notify.js"></script>
    <script src="/static/uikit/js/components/tooltip.js"></script>